@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;600&display=swap");

* {
  font-family: "Space Grotesk", "Courier New", Courier, monospace;
  /* color: aliceblue; */
}

body {
  padding-bottom: 42px;
}

.modal {
  text-align: center;
}

.nav {
  text-align: center;
  background: rgba(5, 90, 140, 0.18) !important;
  box-shadow: 0px 0px 20px 0px !important;
}

.nav-font {
  font-family: "Space Grotesk", "Courier New", Courier, monospace;
  color: aliceblue !important;
}

/* .my-links {
  color: black;
  position: fixed;
  justify-content: center;
  width: 600px;
  bottom: 0px;
} */

/* .header {
  float: inline-start;
  width: 500px;
  color: aliceblue;
} */

.name {
  margin: auto;
  font-size: 25px;
  text-align: center;
  width: 200px;
}

.page-title {
  color: aliceblue;
  text-align: center;
  margin-top: 5%;
  text-shadow: 3px 3px 3px black;
}

.page-content {
  text-align: center;
  color: aliceblue;
  text-shadow: 3px 3px 3px black;
  padding: 25px;
  margin-right: 20%;
  margin-left: 20%;
  font-size: large;
  background: rgba(5, 90, 140, 0.75);
  box-shadow: 0px 0px 20px 0px;
  border-radius: 25px;
}

.card-style {
  justify-content: center;
  color: aliceblue !important;
  font: aliceblue !important;
  text-shadow: 3px 3px 3px black;
  max-width: 320px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  padding-top: 25px;
  background: rgba(5, 90, 140, 0.75) !important;
  box-shadow: 0px 0px 20px 0px !important;
  border-radius: 25px !important;
}

.site-links {
  color: blanchedalmond;
}
