/* import font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;600&display=swap");

/* applies google font to whole app */
* {
  font-family: "Space Grotesk", "Courier New", Courier, monospace;
  /* color: aliceblue; */
}

/* centers text in contact-me modal */
.modal {
  text-align: center;
}

/* nav menu */
.nav {
  text-align: center;
  background: rgba(5, 90, 140, 0.18) !important;
  box-shadow: 0px 0px 20px 0px !important;
}

/* selected nav menu item overrides default font from mui */
.nav-font {
  font-family: "Space Grotesk", "Courier New", Courier, monospace;
  color: aliceblue !important;
  /* padding: 5px; */
}

/* name styling found in footer */
.name {
  margin: auto;
  font-size: 25px;
  text-align: center;
  width: 200px;
}

/* refers to specific page title: "About" / "My Portfolio" / "Resume" & "Skills"  */
.page-title {
  color: aliceblue;
  text-align: center;
  margin-top: 5%;
  text-shadow: 3px 3px 3px black;
}

/* content body of page (<p> elements) */
.page-content {
  text-align: center;
  color: aliceblue;
  text-shadow: 3px 3px 3px black;
  padding: 25px;
  max-width: 320px;
  margin: auto;
  font-size: large;
  background: rgba(5, 90, 140, 0.75);
  box-shadow: 0px 0px 20px 0px;
  border-radius: 25px;
}

/* make dots larger than antd default for carousel */
.ant-carousel .slick-dots li button {
  background: rgb(196, 175, 237);
  opacity: 0.4;
  height: 20px;
  width: 20px;
}

/* make dots larger than antd default for carousel */
.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: rgb(196, 175, 237);
  height: 23px;
  width: 23px;
  border: 2px solid aliceblue;
  border-style: groove;
}

/* formatting for mui cards; had to override certain defaults */
.card-style {
  color: aliceblue !important;
  text-shadow: 3px 3px 3px black;
  max-width: 320px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  padding-top: 25px;
  background: rgba(5, 90, 140, 0.75) !important;
  box-shadow: 0px 0px 20px 0px !important;
  border-radius: 25px !important;
  align-self: start;
  width: 100%;
}

/* positioning of item cards in My Portfolio */
.card-layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

/* used for a preview of resume in Resume page, Resume card */
.resumePreview {
  background-image: url("/src/assets/images/myResume.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-bottom: 10px;
}

/* overrides default link color */
.site-links {
  color: rgb(196, 175, 237);
}

/* overrides default link color on hover */
.site-links:hover {
  color: rgb(216, 145, 222);
}
