@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;600&display=swap");

* {
  font-family: "Space Grotesk", "Courier New", Courier, monospace;
  /* color: aliceblue; */
}

body {
  padding-bottom: 42px;
}

.modal {
  text-align: center;
}

.nav {
  flex-direction: column;
}

.nav-font {
  font-family: "Space Grotesk", "Courier New", Courier, monospace;
  color: aliceblue !important;
  text-align: center;
}

/* .my-links {
  color: black;
  position: fixed;
  justify-content: center;
  width: 600px;
  bottom: 0px;
} */

/* .header {
  float: inline-start;
  width: 500px;
  color: aliceblue;
} */

.name {
  margin: auto;
  font-size: 25px;
  text-align: center;
  width: 200px;
}

.page-title {
  color: aliceblue;
  text-align: center;
  margin-top: 10%;
}

.page-content {
  color: aliceblue;
  text-align: center;
  /* margin: 10%; */
  padding-left: 15%;
  padding-right: 15%;
  font-size: large;
}
